@import 'variables';


.grid{
  display: grid;
  gap:.1rem;
  grid-template-columns: repeat(10,1fr);
}

.postcolumn{
  @media(min-width:$screen-lg-min) {
    grid-column:4/8;
  }
  grid-column:2/11;  
}

.sidebarcolumn {
  @media(min-width:$screen-lg-min) {
    grid-column:3/3
  }
  grid-column:1/1;
}

.middleContainer{
  display:flex;
  flex-direction:column;
}

.stickitup{
  position:sticky;
  top:0;
  background-color:white;
}