@import 'variables';

.loginform {
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:2em;
  @media(max-width:$screen-sm-min) {
    margin:1em;
  }
  .icon {
    color: $blue;
  }
  form {
    display:grid;
    gap:1rem;
    div {
      display:flex;
      flex-direction:column;
    }
    input {
      padding:.75rem;
      border-radius:.2rem;
      border: .1rem gray solid;
    }
    input::placeholder{
      color:$blue;
      font-size:larger;
    }
    input:focus{
      outline:none;
      border: .1rem $blue solid;
    }
  }
  
  .buttonContainer{
    display: flex;
    flex-direction:column;
    gap:.2rem;
    .btn{
      background-color:$blue;
      padding: 1rem 2rem 1rem 2rem;
      border-radius:2rem;
      color:white;
      border: white;
      font-size:small;
      font-weight:bold;
    }
    
  }
}


.loginContainer{
  @media(min-width:$screen-md-min) {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    place-items: center;
    justify-items: start;
    gap:5rem;
  }
  display:flex;
  flex-direction:column-reverse;
  gap:.5em;
  .logoAndCTA{
    display:flex;
    flex-direction:column;
    gap: .3rem;
  }
  .words{
    font-size:4rem;
    font-weight:bolder;
  }
  .wordsSmall {
    font-size: 2rem;
  }
  
}

.imageContainer{
  display:flex;
  height:95vh;
}

.footer {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  background-color:lightgray;
  padding: 0 1em 0 1em;
  gap: .2em;  
  div {
    display:flex;
    justify-content:center;
    align-items:center;
  }
}