$blue: #1D9BF0;
$darkerblue: #0387df;
$lighterblue:#b0defd;
$large: 1200px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.postContainer {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:.75rem;
  box-shadow: 0px 0px 1px gray;
  padding:2rem;
  
  
  .avatar{
    display:flex;
    grid-column:1/1;
    padding:.5rem;
    img{
      border-radius:50%;
    }
  }
}
.boxsizingBorder {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.icon:hover{
  background-color:#E1E8ED;
}

.buttonscontainer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  div {
    display:flex;
  }
}

.container{
  grid-column:2/4;
  display:flex;
  flex-direction:column;
}

.form{
  display:flex;
  grid-column:2/3;
  textarea{
    min-height:75px;
    border: none;
    resize:none;
    width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box; 
  }
  
  textarea:focus{
    outline:none;
  }
}

.formandbuttons{
  display:flex;
  flex-direction:column;
}

.avatarform {
  display:flex;
}

.tweetbutton{
  background-color:$blue;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius:2rem;
  color:white;
  border: white;
  font-size:larger;
  font-weight:bolder;
}

.tweetbutton:disabled{
  background-color:$lighterblue;
}

.tweetbutton:disabled:hover{
  background-color:$lighterblue;
}

.tweetbutton:hover{
  background-color: $darkerblue;
}

.tweetcontainer{
  display:flex;
}