$blue: #1D9BF0;
$large: 1200px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


.grid{
  display:grid;
  grid-template-columns:repeat(6, 1fr)
}

.sidebar {
  position:sticky;
  top:0;
  display:flex;
  justify-content:center;
  flex-direction:column;
  box-shadow: 0px 0px .1px gray;
  gap:.2rem;
    div {
      display:flex;
      flex-wrap:nowrap;
      justify-content:start;
      padding:.25rem;
      button {
        font-size:large;
        border-radius: 2rem;
        border: white solid;
        background-color:white;
        padding:.2rem .7rem .2rem .7rem;;
        div{
          display:flex;
          gap:.2rem;
          align-items:center;
          .words{
            display:none;
          }
          @media(min-width:$screen-xl-min) {
            .words{
              display:flex;
            }
          }
        }
      }
      button:hover{
        background-color:#E1E8ED;
      }
    }
}

.sidebaravatar {
  display:flex;
  justify-content:center;
  div{
    display:flex;
    justify-content:center;
  }
  img {
    border-radius:50%;
  }
}

#tweetbutton {
  color:white;
  background-color:$blue;
  padding:.5rem;
}

.imageContainer{
  display:flex;
  justify-content:center;
}



.logo{
  display:flex;
  justify-content:center;
  color:$blue;
}